{% extends 'base.html' %}
{% block mid_content %}
<div class="tm-main uk-width-medium-4-5">
    <article class="uk-article">
        <h1 class="uk-article-title">{{ article.title }}</h1>
        <p class="uk-article-meta">{{ article.create_time }} 发布者：{{ article.author }}</p>
        <p>{{ article.content|safe }}</p>
        <button class="uk-button" data-uk-toggle="{target:'#hide_content', animation:'uk-animation-slide-left, uk-animation-slide-bottom'}">显示隐藏内容</button>
        <div id="hide_content" class="uk-panel uk-panel-box uk-hidden" aria-hidden="true">{{ article.hide_content|safe }}</div>
    </article>
</div>

{% endblock %}