<!DOCTYPE html>
<html lang="en-gb" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
<meta name="domain_verify" content="pmrgi33nmfuw4ir2ejvwc3tuovvhk3romnxw2irmejtxk2leei5ceolegy4tsnzsga2wcyztgqytinjzmzsgemjvgaytamtegfsdsntdeiwce5djnvsvgylwmurdumjugyytenbrgi4tmmjrgv6q">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="知乎福利,豆瓣福利,妹子,爆照,豆瓣妹子美女" />
  <meta name="description" content="知乎福利,豆瓣福利,妹子,爆照,豆瓣妹子美女都在这里！！！" />
    {% if title %}
    <title>{{ title }} －看图君</title>
    {% else %}
  <title>看图君</title>
    {% endif %}
   <link id="data-uikit-theme" rel="stylesheet" href="http://files-10015041.file.myqcloud.com/static/src/css/uikit.docs.min.css">
  <link rel="stylesheet" href="http://files-10015041.file.myqcloud.com/static/src/css/my_uikit.css">
  <script src="http://files-10015041.file.myqcloud.com/static/src/js/jquery.js"></script>
  <script src="http://files-10015041.file.myqcloud.com/static/src/js/uikit.js"></script>

    {% block script_file %}
    {% endblock %}
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?11770adaceabefad675a15b58b1cc3cb";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script src="http://f.919cp.com/cpf.php?445__1" charset="utf-8"></script>
{#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
{#<script>#}
{#  (adsbygoogle = window.adsbygoogle || []).push({#}
{#    google_ad_client: "ca-pub-5673866312642362",#}
{#    enable_page_level_ads: true#}
{#  });#}
{#</script>#}
</head>

<body class="tm-background">
  <nav class="tm-navbar uk-navbar uk-navbar-attached">
            <div class="uk-container uk-container-center">

                <a class="uk-navbar-brand uk-hidden-small" href="/">看图君</a>

                <ul class="uk-navbar-nav uk-hidden-small">
                    {% if index == 1 %}
                    <li class="uk-active"><a href="/">首页</a></li>
                    {% else %}
                    <li><a href="/">首页</a></li>
                    {% endif %}
                    {% if index == 5 %}
                    <li class="uk-active"><a href="/douban">豆瓣妹子</a></li>
                    {% else %}
                    <li><a href="/douban">豆瓣妹子</a></li>
                    {% endif %}

                    {% if index == 2 %}
                    <li class="uk-active"><a href="/zhihu">知乎看图</a></li>
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#">知乎看图</a>
                        <ul class="uk-nav uk-nav-navbar uk-dropdown uk-dropdown-navbar">
                            <li>
                                <a href="/zhihu/question">问题</a>
                            </li>
                            <li>
                                <a href="/zhihu/collection">收藏夹</a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#">知乎看图</a>
                        <ul class="uk-nav uk-nav-navbar uk-dropdown uk-dropdown-navbar">
                            <li>
                                <a href="/zhihu/question">问题</a>
                            </li>
                            <li>
                                <a href="/zhihu/collection">收藏夹</a>
                            </li>
                        </ul>
                    </li>

                    {% endif %}
                    {% if index == 3 %}
                    <li class="uk-active"><a href="/zone">捡图</a></li>
                    {% else %}
                    <li><a href="/zone">捡图</a></li>
                    {% endif %}
                    {% if index == 4 %}
                    <li class="uk-active"><a href="/give_me_tip">打赏我</a></li>
                    {% else %}
                    <li><a href="/give_me_tip">打赏我</a></li>
                    {% endif %}
                    {% if request.user.id %}
                        <li><a href="/accounts/logout">登出</a></li>
                    {% else %}
                        <li><a href="/accounts/login">登录</a></li>
                    {% endif %}
                </ul>

                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas>
                    <i class="uk-icon-hand-o-right"></i>
                </a>

                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">看图君</div>

            </div>
        </nav>
  <div class="tm-middle">
  <div class="uk-container uk-container-center">
{#  <div class="uk-width-1-1">#}
  <div class="uk-grid" data-uk-grid-margin>
      {% block mid_content %}
      {% endblock %}
{#  </div>#}
  </div>
</div>
</div>
<div id="offcanvas" class="uk-offcanvas">
          <div class="uk-offcanvas-bar">
              <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                  {% if index == 1 %}
                  <li class="uk-active">
                      <a href="/">首页</a>
                  </li>
                  {% else %}
                  <li>
                      <a href="/">首页</a>
                  </li>
                  {% endif %}
                    {% if index == 5 %}
                  <li class="uk-active">
                      <a href="/douban">豆瓣妹子</a>
                  </li>
                    {% else %}
                  <li>
                      <a href="/douban">豆瓣妹子</a>
                  </li>
                    {% endif %}
                  {% if index == 2 %}
                  <li class="uk-active">
                      <a href="#">知乎看图</a>
                      <ul class="uk-nav-sub">
                          <li><a href="/zhihu/question">问题</a></li>
                          <li><a href="/zhihu/collection">收藏夹</a></li>
                      </ul>
                  </li>
                    {% else %}
                  <li class="uk-parent">
                      <a href="#">知乎看图</a>
                      <ul class="uk-nav-sub">
                          <li><a href="/zhihu/question">问题</a></li>
                          <li><a href="/zhihu/collection">收藏夹</a></li>
                      </ul>
                  </li>
                    {% endif %}
                    {% if index == 3 %}
                    <li class="uk-active">
                      <a href="/zone">捡图</a>
                  </li>
                    {% else %}
                  <li>
                      <a href="/zone">捡图</a>
                  </li>
                    {% endif %}
                    {% if index == 4 %}
                    <li class="uk-active">
                      <a href="/give_me_tip">打赏我</a>
                  </li>
                    {% else %}
                  <li>
                      <a href="/give_me_tip">打赏我</a>
                  </li>
                    {% endif %}
                    {% if request.user.id %}
                        <li><a href="/accounts/logout">登出</a></li>
                    {% else %}
                        <li><a href="/accounts/login">登录</a></li>
                    {% endif %}
{#                    <li>#}
{#                      <a href="/logout">登出</a>#}
{#                  </li>#}
              </ul>
          </div>
</div>
  <div align="center">
<script type="text/javascript">
var sogou_ad_id=579007;
var sogou_ad_height=90;
var sogou_ad_width=728;
</script>
<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
  </div>
{#  <div align="center">#}
{#      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
{#    <!-- my -->#}
{#    <ins class="adsbygoogle"#}
{#         style="display:inline-block;width:300px;height:250px"#}
{#         data-ad-client="ca-pub-5673866312642362"#}
{#         data-ad-slot="3168356938"></ins>#}
{#    <script>#}
{#    (adsbygoogle = window.adsbygoogle || []).push({});#}
{#    </script>#}
{#  </div>#}
<div class="tm-footer">
            <div class="uk-container uk-container-center uk-text-center">

                <ul class="uk-subnav uk-subnav-line uk-flex-center">
                    <li><a href="https://github.com/LinSuper">GitHub</a></li>
                    <li><a href="http://blog.kantujun.com">blog</a></li>
                    <li>粤ICP备16030602号</li>
                </ul>
            </div>
            <div align="center">
          <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257489177'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257489177' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
        </div>
</body>
{% block script %}

{% endblock %}
</html>

