{% extends 'base.html' %}
{% block script_file %}
<script src="http://files-10015041.file.myqcloud.com/static/src/js/components/pagination.js"></script>
{% endblock %}
{% block mid_content %}
    <div class="uk-width-1-1">
    <div class="uk-container">
{#    <div class="uk-grid" data-uk-grid-margin>#}
        {% for i in data %}
            <div class="uk-grid" data-uk-grid-margin>
            {% for j in i %}


                    <div class="uk-width-medium-1-4">
                        <div class="uk-panel uk-panel-box">
                             <h3 class="uk-panel-title">
                                 <i class="uk-align-left"><a href="{{ j.author_url }}" class="uk-link-reset">{{ j.author_name }}</a></i>
                                 <i class="uk-align-right"><a href="{{ j.url }}" class="uk-link-reset">跳到豆瓣</a></i>
                             </h3>
                                <a href="#">
                            <img src="http://ali.superlin.cc:9999/img/douban?url={{ j.image_url }}" alt="">
                                </a>
                        </div>

                    </div>

            {% endfor %}
            </div>
        {% endfor %}

{#    </div>#}
    </div>
    <ul class="uk-pagination" data-uk-pagination="{items:{{ item_count }}, itemsOnPage:20, currentPage:{{ current_page }}}"></ul>
    </div>

{% endblock %}
{% block script %}
    <script>
    $('[data-uk-pagination]').on('select.uk.pagination', function(e, pageIndex){
            window.location.href = '/douban/' + (pageIndex+1);
            });
    </script>
{% endblock %}