{% extends 'base.html' %}
{% block script_file %}
<script src="http://files-10015041.file.myqcloud.com/static/src/js/components/pagination.js"></script>
{% endblock %}
{% block mid_content %}
<div class="tm-main uk-width-medium-4-5">
        {% for i in data %}

            <article class="uk-article">
            <h1 class="uk-article-title"><a href="/aritcle/{{ i.id }}">{{ i.title }}</a></h1>
            <p class="uk-article-meta">{{ i.create_time }} 发布者：{{ i.author }}</p>
            <img src="{{ i.cover }}">
            <p>{{ i.description }}</p>
            <a href="/article/{{ i.id }}">阅读全文</a>
            </article>
        {% endfor %}
<div align="center">
<ul class="uk-pagination" data-uk-pagination="{items:{{ item_count }}, itemsOnPage:5, currentPage:{{ current_page }}}"></ul>
</div>
</div>

{% endblock %}
{% block script %}
    <script>
            $('[data-uk-pagination]').on('select.uk.pagination', function(e, pageIndex){
            window.location.href = '/home/' + (pageIndex+1);
            });
    </script>
{% endblock %}